@charset "UTF-8";

body {
    background-color: black;
    padding: 0;
    margin: 0 auto;
}

#backgroundpicture {
    width: 1518px;
    height: 600px;
}

#order_now {
    z-index: 2;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 700px;
    right: 1px;
}

.first-name, .last-name, .date, .time, .phone {
    z-index: 3;
}

