<?php

$_SETTINGS = array (
    "SITE_NAME" => "Aztec Casta",
    "DB_HOST" => "[host]",
    "DB_USERNAME" => "[username]",
    "DB_PASSWORD" => "[password]",
    "DB_NAME" => "[name]",
);


if($conn = new mysqli($_SETTINGS['DB_HOST'], $_SETTINGS['DB_USERNAME'], $_SETTINGS['DB_PASSWORD'], $_SETTINGS['DB_NAME'])) {
    echo "<h1>Failed to establish database connection</h1>";
}

?>